@media screen and (min-width:1024px) and (max-width:1366px) {
    
    .col-1-8,
    .row .col-1-8{
        width: 25%;
    }
    
}

@media screen and (min-width:320px) and (max-width:420px) {
    
    .col-1-8,
    .col-2-8,
    .col-3-8,
    .col-4-8,
    .col-5-8,
    .col-6-8,
    .col-7-8,
    .row > .col-2-8{
        width: 100%;
        margin-right: 0;
    }
    
}